<h1 align="center">All Alpha Bloggers</h1>
<% @users.each do |user| %>
  <div class="row center">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <ul class="listing">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title"><%= link_to user.username, user_path(user) %></li>
          <li><small><%= pluralize(user.articles.count, 'article') if user.articles.any? %></small></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>